<div class = "container-fluid">

  <h1>Final Teams</h1>
  <dt>
    <% @teams.each do |t| %>
      <dh>
        <h5><%= t.pitch.title %> </h5>
        <dd><%= link_to 'Details', team_path(t) %></dd>
      </dh>
    <% end %>
  </dt>
</div>