<div class = "container-fluid">
  <h1>Create the teams</h1>

  <% @teams.each do |team| %>

    <strong> <%= team.pitch.title %></strong><br>
      <% @users.each do |user| %>
        <%= check_box "user", team.id %>
        <%= user.name %>
        <br>
      <% end %>
    


  <% end %>

</div>