
<h1>Teams</h1>
<p>Find me in app/views/teams/new.html.erb</p>




<h2>Pitch 1</h2>
<div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<h2>Pitch 2</h2>
<div id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>

<h2>Pitch 3</h2>
<div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>

<li id="drag5" draggable="true" ondragstart="drag(event)">student 1</li>

<li id="drag6" draggable="true" ondragstart="drag(event)">student 2</li>

<li id="drag7" draggable="true" ondragstart="drag(event)">student 3</li>

<li id="drag8" draggable="true" ondragstart="drag(event)">student 4</li>

